<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>UCI Predictor</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">UCI Machine Failure Predictor</span></h2>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask, Deployed using Heroku.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="Air temperature [K]" placeholder="Air temperature [K] eg. 298.1"><br>
                <input class="form-input" type="text" name="Process temperature [K]" placeholder="Process temperature [K] eg. 308.6"><br>
                <input class="form-input" type="text" name="Rotational speed [rpm]" placeholder="Rotational speed [rpm] eg. 1551"><br>
                <input class="form-input" type="text" name="Torque [Nm]" placeholder="Torque [Nm] eg. 42.8"><br>
                <input class="form-input" type="text" name="Tool wear [min]" placeholder="Tool wear [min] eg. 3"><br>

        		<input type="submit" class="my-cta-button" value="Predict">

            </form>

            <form action="{{ url_for('report') }}" method="POST">
        		<input type="submit" class="my-cta-button" value="Profile Report">
            </form>

    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://www.linkedin.com/in/swapnil-alhat-37210289/"><i class="fab fa-linkedin fahttps://github.com/githubtraining/hellogitworld/blob/master/README.txt contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made with ❤️ by Swapnil Alhat.</p>
       </div>

    </body>
</html>
